<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REMIND Password</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="./assets/unnamed.jpg">
</head>
<body>
    <div class="bord" style="display: block;">
        <h1>Remaind Password</h1>

        <form name="regForm">
            <input class="inpt" required type="email" name="email" placeholder="email" size="25"><br>
            <input id="regButton" type="submit" value="REMIND">
            <a id="log" href="/login">Login</a>
            <p style="color: red;" id="error"></p>
        </form>
    </div>
    <div id="go" style="display: none;">
        <p>Password send on your email</p>
        <a href="/login">Login</a>
    </div>

    <script>
        let subButton = document.getElementById('regButton');
        subButton.addEventListener('click', function (evt) {
    
        evt.preventDefault();
        
        let regForm = document.forms['regForm'];

        let email = regForm.elements['email'].value;
       
        let user = JSON.stringify({
            email: email,
        });

        let request = new XMLHttpRequest()

        request.open('POST', '/password', true);
        
        request.setRequestHeader( 'Content-Type', 'application/json');
        
        request.addEventListener('load', function () {
            let receivedUser = JSON.parse(request.response);
            //console.log(receivedUser.ans);
            if (receivedUser.ans == "OK") {
                document.getElementsByClassName('bord')[0].setAttribute('style', 'display: none');
                document.getElementById('go').setAttribute('style', 'display: block');
            }
            else {
                document.getElementById('error').innerText = receivedUser.ans;
            }

        });
        
        request.send(user);

    });
    </script>
</body>
</html>