* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    margin-top: 15%;
    /*background-color: rgba(161, 176, 224, 0.959);*/
    background: url(assets/reg3.jpg) no-repeat center center fixed;
    background-size: cover;
}

.bord {
    border: solid 2px black;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
}

#regButton {
    align-items: center;
    margin-top: 10px;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    font-weight: 600;
    justify-content: center;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

#regButton:hover,
#regButton:focus { 
    background-color: #16437E;
    color: #ffffff;
}

#regButton:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

#regButton:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.inpt {
    padding:10px;
    border-radius:10px;
    margin-top: 10px;
}

#log {
    padding: 20px;
}
